/* Namespace the chat css under this */
.chat-container {

    .chat-window {
        height: 25%;
        overflow: auto;

        .chat-message {
            font-size: 13px;
            border-bottom: 1px solid #00b3bf;
            padding-bottom: 5px;
        }
    }

    .send-chat-message {
        #send-to, #chat-message, #send-message {
            width: 100%;
            margin-top: 5px;
        }
    }
}


